*{
	list-style-type: none;
	text-decoration: none;
}

#nav-bar {
	position: fixed;
	top: 0;
	right: 0;
}

@media (min-width: 801px) {
	body {
		background-color: #eee;
	}
}
#nav-bar ul{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#nav-bar ul li {
	margin-right: 0.4rem;
}

